# QUESTION1

In [26]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
print(b()) 
print(b()) 
print(b()) 
print(a) 
#6 is printed because 
#In the 1 print statement b() function points to c() which returns and assingns the global variable a=2
#same repeats for the next two b() functions and atlast it print 6 
#The reason why b() doesn't prints a is that is it just assigns a =2

None
None
None
6

# Question2

In [12]:
import os.path

def file_length(file_name):
    if os.path.isfile (file_name) :
            file = open(file_name)
            contents = file.read()
            file.close()
            print(len(contents))
            
    else:
         print("File "+ str(file_name) +" not found")
    
file_length("midterm.py")
file_length("idterm.py")

5
File idterm.py not found

# QUESTION 3

In [25]:
class Marsupial:
 def __init__(self):
    self.arr=[]
 def put_in_pouch(self,x):
    self.arr.append(x)
 def pouch_contents(self):
    print(self.arr)

class Kangaroo(Marsupial):
 def __init__(self,x_coords,y_coords):
    super().__init__()
    self.x=x_coords
    self.y=y_coords
 def jump(self,dx,dy):
    self.x+=dx
    self.y+=dy
 def __str__(self):
    return "I am Kangaroo located at coordinates ({0},{1})".format(self.x,self.y)

k=Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('truck')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'truck']
I am Kangaroo located at coordinates (3,0)

# QUESTION 4

In [5]:
def collatz(n):
    print(n)
    if(n<=1):
        return 1
    if(n%2==0):
        n=int(n/2)
    else :
        n=int((3*n)+1)
    return collatz(n)

collatz(10)

10
5
16
8
4
2
1

1

# QUESTION5

In [6]:
def toBinary(x):
    if(x > 1):
        toBinary(x//2)
    print(x%2, end='')
toBinary(9)

1001

# QUESTION6

In [47]:
from html.parser import HTMLParser

a = False
total = 0

def spaceGenerator(total):
    str =""
    for i in range(0,total):
        str += " "
    return str

class HeadingParser(HTMLParser):
    def handle_starttag(self,tag,data):
        global a
        if tag in ['h1','h2']:
            a = True            
    def handle_data(self,data):
        global a
        global total
        if a == True:
            a = False
            optimisedData = spaceGenerator(total) + data
            print(optimisedData)
            total += 1
            
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# QUESTION 7

In [3]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

  def __init__(self, url):
      HTMLParser.__init__(self)
      self.url = url
      self.links = []

  def handle_starttag(self, tag, attributes):
      if tag == 'a':
          for attr in attributes:          
              if attr[0] == 'href': 
                  absolute = urljoin(self.url, attr[1])
                  if absolute[:4] == 'http':
                      self.links.append(absolute)

  def link(self):
    return self.links

everyLinks = []
    
def webdir(url,depth,indent):
        global everyLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in everyLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
everyLinks = collector.link()

webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

# QUESTION 8

In [15]:
import sqlite3
con1 = sqlite3.connect('ipydb.db')
cur = con1.cursor()
cur.execute("CREATE TABLE cityWeather (City text, Country text, Season text,Temperature float,Rainfall float)")

OperationalError: table cityWeather already exists

In [16]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

OperationalError: database is locked

In [36]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [38]:
cur.execute('SELECT * FROM cityWeather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Spring', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# a

In [39]:
cur.execute('SELECT temperature FROM cityWeather')
A=cur.fetchall()
for item in A:
    print(item)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# b

In [40]:
cur.execute('SELECT DISTINCT City FROM cityWeather')
B=cur.fetchall()
for item in B:
    print(item)

('Mumbai',)
('London',)
('Cairo',)

# c

In [41]:
cur.execute("SELECT * FROM cityWeather WHERE Country='India'")
C=cur.fetchall()
for item in C:
    print(item)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Spring', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# d

In [42]:
cur.execute("SELECT * FROM cityWeather WHERE Season='Fall'")
D=cur.fetchall()
for item in D:
    print(item)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# e

In [43]:

cur.execute("SELECT City,country,Season FROM cityWeather WHERE Rainfall BETWEEN 200 AND 400")
E=cur.fetchall()
for item in E:
    print(item)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

# f

In [44]:
cur.execute("SELECT City,country FROM cityWeather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
F=cur.fetchall()
for item in F:
    print(item)

('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')

# g

In [34]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather WHERE City='Cairo'")
G=cur.fetchall()
for item in G:
    print(item)

(55.2,)

# h

In [14]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather GROUP BY Season")
H=cur.fetchall()
for item in H:
    print(item)

# QUESTION9

In [2]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
arr=[]
for i in words:
   arr.append(i.upper())
print(arr)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
arr=[]
for i in words:
   arr.append(i.lower())
print(arr)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [4]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
arr=[]
for i in words:
   arr.append(len(i))
print(arr)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
arr=[]
for i in words:
    array=[]
    array.append(i.upper())
    array.append(i.lower())
    array.append(len(i))
    arr.append(array)
print(arr)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [7]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
arr=[]
for i in words:
   if(len(i)>3):
       arr.append(i)
print(arr)

['quick', 'brown', 'jumps', 'over', 'lazy']